name: Video Pipeline CI

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Recuperer le code
      uses: actions/checkout@v3

    - name: Installer Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.9"

    - name: Installer les dependances
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Test de syntaxe (Linting)
      run: |
        pip install flake8
        # Verifie si le code contient des erreurs fatales
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics